html, body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: antiquewhite;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titleSelector {
    margin-left: 40px;
    font-size: 30px;
    letter-spacing: 2px;
}

.menu-container {
    position: relative;
    margin-right: 10%;
}

.hidden-select {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.custom-menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    border-radius: 40%;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.menu-button:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.menu-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 8px;
    padding: 10px 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    min-width: 150px;
    z-index: 1000;
}

.menu-content.visible {
    opacity: 1;
    visibility: visible;
}

.menu-item {
    padding: 12px 20px;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.menu-item:hover {
    background-color: #444;
    transform: scale(1.05);
}


.menu-content::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}
.selected-option {
    color: #00ff88 !important;
    font-weight: bold;
}

.menu-item.selected::after {
    content: "<--";
    margin-left: 8px;
}

/* --------------------------------------------------------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#content-groupMenu {
    width: 80rem;
    height: auto;
    margin: 10px 20px;
    background-color: #333;
    color: white;
    padding: 80px;
    font-size: 90px;
    margin-top: 13%;
    border-radius: 10%;    
}

#content-groupMenu {
    display: none;
}

#content-groupMenu.visible {
    display: block;
}